.jumbotron {

  .display-4 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding-left: 0.5rem;
  }
  .lead {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.25rem;
  }

}